{% extends 'blog/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="text-end mb-4">
    <a href="{% url 'post_new' %}" class="btn btn-success">
      <i class="bi bi-file-earmark-plus"></i> Novo Post
    </a>
  </div>
{% endif %}


<h1 class="display-4 text-center my-4">Descubra Tocantins: Natureza, Cultura e História</h1>


<div class="container mt-4">
    {% for post in posts %}
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
         
          <h2 class="card-title titulo-post">
            <a href="{% url 'post_detail' pk=post.pk %}" class="text-decoration-none text-dark">{{ post.title }} </a>
          </h2>

   
          <p class="text-muted">
            Publicado em {{ post.published_date|date:"d/m/Y H:i" }}
          </p>

          <p class="card-text">{{ post.text|linebreaksbr }}</p>

          {% if user.is_authenticated %}
 
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-sm btn-outline-primary">
              <i class="bi bi-pencil-square"></i> Editar
            </a>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p></p>
    {% endfor %}
  </div>
{% endblock %}
